.home {
  display: flex;
  align-items: center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 500;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: #6119c0;
  font-weight: 500;
}
.home .home-content a {
  display: inline-block;
  background: #6119c0;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 40px;
  border-radius: 6px;
  border: 2px solid #6119c0;
}
.home .home-content a:hover {
  color: #6119c0;
  background: none;
}

@media (max-width: 896px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
}

@media (max-width: 706px) {
  .home {
    height: 0;
  }
  .max-width {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .home {
    justify-content: center;
  }
  .home .home-content .text-1 {
    font-size: 20px;
  }
  .home .home-content .text-2 {
    font-size: 30px;
  }
  .home .home-content .text-3 {
    font-size: 20px;
  }
}
